<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src='assets/js/lib/heatmap.min.js'></script>
        <script src="assets/js/utils.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"></script>
        <title>Dashboard - Fifa Tracking</title>
    </head>

    <body>
        <h1>It Works !</h1>

        <div id="dashboard">
            <!-- Field -->
            <div id="field" style="width: 1150px; height: 780px;"></div>
            <script src="assets/js/charts/field.js"></script>

            <!-- Heatmap -->
            <!-- <div id="heatmap" style="width: 1050px; height: 680px;"></div>
            <script src="assets/js/charts/test_heatmap.js"></script> -->

            <!-- Vertical presence bar chart -->
            <!-- <div id="vbarChart" class='barChart'></div>
            <script src="assets/js/charts/v_presence.js"></script> -->

            <!-- Horizontal presence bar chart -->
            <div id="hbarChart" class="barChart"></div>
            <script src="assets/js/charts/h_presence.js"></script>
        </div>
    </body>
    <script src="/reload/reload.js"></script>
</html>