<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- JS LIBS -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src='assets/js/lib/heatmap.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <title>Dashboard - Fifa Tracking</title>
    </head>

    <!-- UTILS -->
    <script src="assets/js/utils/barChart_utils.js"></script>
    <script src="assets/js/utils/heatmap_utils.js"></script>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a id="brand" class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pick a video
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
        </nav>

        
        <!-- DASHBOARD -->
        <div id="dashboard">
            <!-- UPPER SIDE OF DASHBOARD -->
            <div id="upperBoard" class="boardSide">
                <div id="hc1" class="heatmap_container" >
                    <div id="teamName1" style="background-color: #377eb8;">
                        <p id="team1">Team 1</p>
                    </div>
                    <div id="f1" class="field" ></div>
                    <div id="heatmap1" class="heatmap"></div>
                </div>
                <div id="hc2" class="heatmap_container">
                    <div id="teamName2" style="background-color: #e41a1c;">
                        <p id="team2">Team 2</p>
                    </div>
                    <div id="f2" class="field" ></div>
                    <div id="heatmap2" class="heatmap"></div>
                </div>
                <div id="heatUpdater">
                    <p>Change heat value !</p>
                    <input type="range" name="heatSlider" id="heatSlider" min="1" max="100" value="30">
                </div>
                
            </div>
            <!-- LOWER SIDE OF DASHBOARD -->
            <div id="lowerBoard" class=boardSide>
                <div class="chart_container">
                    <div id="f3" class="field"></div>
                    <div id="vbarChart" class="barChart"></div>
                </div>
                <div class="chart_container">
                    <div id="f4" class="field"></div>
                    <div id="hbarChart" class="barChart"></div>
                </div>
            </div>
        </div>

        <!-- CHARTS -->
        <script src="assets/js/charts/field.js"></script>
        <script src="assets/js/charts/heatmap.js"></script>
        <script src="assets/js/charts/v_presence.js"></script>
        <script src="assets/js/charts/h_presence.js"></script>
        <script src="assets/js/charts/barCharts.js"></script>
    </body>
    <script src="/reload/reload.js"></script>
</html>

        