<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - Fifa Tracking</title>
    </head>

    <body>
        <h1>It Works !</h1>
        <div id="field"></div>
        <script src="js/field.js"></script>
    </body>
    <script src="/reload/reload.js"></script>
</html>